@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.page_404 {
    width: 100%;
    padding: 40px 0;
    background: #fff;
    font-family: 'Bai Jamjuree', sans-serif;
}

.content {
    width: min(900px, 90vw);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    background: url('./bg.gif') center/cover no-repeat;
    width: 100%;
    height: 400px;
    position: relative;
}

.four_zero_four_bg h1 {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
    font-size: 80px;
}

h1 {
    font-size: 80px;
}

h3 {
    font-size: 80px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background: #13438B;
    display: inline-block;
}

.content_box_404 {
    text-align: center;
    margin-top: -50px;
}

a:hover {
    text-decoration: none;
    color: #fff;
}