apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: doomed-apt
  labels:
    app: frontend
  annotations:
    cloud.google.com/backend-config: '{"default": "frontend-backendconfig"}'
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
